@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

body {
  background-color: #f7f2e8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  color: #1a1a1a;
  text-shadow: -1px 6px 6px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.logo-menu a {
  color: #3c0e0e;
  font-size: 1.25em;
  font-weight: 500;
  text-shadow: -1px 6px 6px rgba(0, 0, 0, 0.2);
}
.logo-menu img {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu-items a {
  color: #3c0e0e;
  font-size: 1.25em;
  font-weight: 500;
  text-shadow: -1px 6px 6px rgba(0, 0, 0, 0.2);
}
.menu-items a:focus {
  border-bottom: 2px solid #3c0e0e;
}

.delivery-btn {
  color: #fff;
  background-color: #431b1b;
  border: none;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 60px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 19px 11px -7px rgba(0, 0, 0, 0.1);
}

.img-header {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -999;
}

.info {
  max-width: 40ch;
  padding-left: 2.5em;
}
.info .info-sub {
  color: #3c0e0e;
  text-shadow: -1px 6px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.563em;
  padding-bottom: 0.8em;
}
.info .info-title {
  color: #3c0e0e;
  text-shadow: -1px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 90px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 0.2em;
}
.info .info-paragraph {
  color: #3c0e0e;
  text-shadow: -1px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.coffee {
  margin-top: 3em;
  position: relative;
  background-image: url(../assets/coffe-image.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.coffee-img {
  width: 100%;
}

.coffee-text {
  max-width: 1300px;
  padding-top: 5em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coffee-text h1 {
  color: #3c0e0e;
  font-weight: bold;
  font-size: 2.5em;
  width: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coffee-text h1 span {
  width: 60%;
  height: 2px;
  display: block;
  background-color: black;
}
.coffee-text p {
  color: #3c0e0e;
  margin-top: 1em;
  max-width: 50ch;
  text-align: center;
}
.coffee-text a {
  color: #3c0e0e;
  font-weight: 600;
  font-size: 1em;
  margin: 1em;
}

.coffee-drinks {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.drink {
  margin-top: 3em;
  width: 320px;
  border-radius: 40px;
  padding: 2em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.drink .drink-content {
  color: #fff;
  text-align: center;
}
.drink .drink-content h1 {
  font-size: 2em;
  margin: 0.6em 0em;
}
.drink .drink-content p {
  font-size: 0.875em;
  font-weight: 100;
}
.drink .drink-content .price {
  font-size: 1.25em;
}

.drink-btn {
  background-color: #fff;
  font-weight: bold;
  border: none;
  font-size: 1em;
  padding: 10px 40px;
  border-radius: 60px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 19px 11px -7px rgba(0, 0, 0, 0.1);
  margin-top: 2em;
  margin-bottom: -10px;
}

.drink-btn:active {
  position: relative;
  top: 2px;
}

.drink.drink-1 {
  background-image: linear-gradient(45deg, hsl(2, 37%, 62%) 0%, hsl(3, 39%, 65%) 11%, hsl(3, 41%, 67%) 22%, hsl(3, 43%, 70%) 33%, hsl(3, 46%, 73%) 44%, hsl(3, 49%, 76%) 56%, hsl(3, 52%, 79%) 67%, hsl(3, 57%, 81%) 78%, hsl(2, 64%, 84%) 89%, hsl(2, 73%, 87%) 100%);
}

.drink.drink-2 {
  background-image: linear-gradient(45deg, hsl(4, 66%, 20%) 0%, hsl(4, 20%, 57%) 51%, hsl(0, 11%, 95%) 100%);
}

.drink.drink-3 {
  background-image: linear-gradient(45deg, hsl(4, 66%, 20%) 0%, hsl(2, 48%, 13%) 51%, hsl(0, 5%, 4%) 100%);
}

.croissants-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.croissant-content h1 {
  color: #4d1d1d;
  font-size: 5em;
  font-weight: bold;
  position: relative;
}
.croissant-content h1::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 10px;
}
.croissant-content h2 {
  color: #4d1d1d;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.croissant-content p {
  color: #4d1d1d;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.1em;
  max-width: 30ch;
}
.croissant-content a {
  color: #4d1d1d;
  font-size: 1em;
  font-weight: bold;
}
.croissant-content .croissant-price {
  color: #f9c4c4;
  background-color: #fff;
  border-radius: 40px;
  padding: 0.2em 0.5em;
  font-size: 1.25em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.croissant-img {
  justify-self: flex-end;
}

.coffee-bags {
  max-width: 1200px;
  margin: 0 auto;
}
.coffee-bags .delivery-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6em;
  margin-bottom: 6em;
  background-image: linear-gradient(to right top, #541511, #7c3f39, #a46a64, #cb9793, #f3c7c4);
  border-radius: 3em;
}
.coffee-bags .delivery-content .coffee-delivery {
  position: relative;
  top: -2.6em;
}
.coffee-bags .coffee-text {
  place-items: end;
}
.coffee-bags .coffee-text h1 {
  font-size: 3em;
  color: #fff;
}
.coffee-bags .coffee-text p {
  font-size: 1em;
  color: #fff;
  font-weight: 200;
}
.coffee-bags .coffee-delivery-btn {
  background-color: #fff;
  font-weight: bold;
  border: none;
  font-size: 1em;
  padding: 10px 40px;
  border-radius: 60px;
  width: 60%;
  cursor: pointer;
  box-shadow: 0px 19px 11px -7px rgba(0, 0, 0, 0.1);
  margin-top: 6em;
}
.coffee-bags .coffee-delivery-btn:active {
  position: relative;
  top: 2px;
}

/*# sourceMappingURL=style.css.map */
